@page "/"

<PageTitle>Home</PageTitle>

<div class="article f">
    <div class="text">
        <div class="text-container">
            <h1>what is pinsa?</h1>
            <p>Everyone knows pizza. But pinsa? The food trend from Italy is becoming increasingly popular. We clarify the difference to pizza, its origins and give an insight into the Pinsa range from Dr. Oetker.</p>
            <p>It's not the home country that distinguishes pinsa from pizza, because both dishes have their origin in Italy. A pizza maker from near Rome first used the name pinsa in 2001 for a baked dough whose recipe had been created several years earlier. The story that the pinsa already existed in ancient Rome, however, is nothing more than a 'storiella' - Italian for little story.</p>
        </div>
    </div>
    <div class="image">
        <img src="/Images/Pinsa.jpg" />
    </div>
</div>
<div class="container">
    <div class="article h t">
        <div>
            <h1>pinsa vs pizza</h1>
            <p>The name of the pinsa goes back to the Latin verb pinsere, which means to crush and describes the production of flour. This is because flour is quite essential to the recipe of a pinsa. At the same time, the similarity of the name to pizza was explicitly desired.</p>
            <p>One difference is obvious: the shape! The pizza? Round, of course! The Pinsa? More elongated-oval. Also different: the use of flour in the dough recipe. In most cases, wheat flour is used for pizza, whereas different types of flour are combined for a pinsa. At Dr. Oetker we use wheat, rice and spelt flour for our La Mia Pinsa. In combination with sourdough, the dough thus acquires its very own character and is particularly airy on the inside and wonderfully crispy on the outside.</p>
        </div>
    </div>
    <div class="video-info-container">
        <div class="article h v">
            <div>
                <h1>how we make pinsa</h1>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/sM5cYz7VQeg" title="how we make pinsa"></iframe>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="article h v">
            <div>
                <h1>home-made pinsa</h1>
                <div class="video">
                    <iframe src="" title="how we make pinsa"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
