@page "/pinsa"

<PageTitle>Pinsa</PageTitle>

<div class="product">
    <div class="image">
        <img src="/Images/Pinsa.jpg" />
    </div>
    <div class="info">
        <p class="title">Pinsa Name</p>
        <span class="text">
            Ingredients: texttexttext text text text text text text text text text text text text text text text text
        </span>
    </div>
</div>
<div class="product">
    <div class="image">
        <img src="/Images/Pinsa.jpg" />
    </div>
    <div class="info">
        <p class="title">Pinsa Name</p>
        <span class="text">
            Ingredients: texttexttext text text text text text text text text text text text text text text text text
        </span>
    </div>
</div>
<div class="product">
    <div class="image">
        <img src="/Images/Pinsa.jpg" />
    </div>
    <div class="info">
        <p class="title">Pinsa Name</p>
        <span class="text">
            Ingredients: texttexttext text text text text text text text text text text text text text text text text
        </span>
    </div>
</div>
<div class="product">
    <div class="image">
        <img src="/Images/Pinsa.jpg" />
    </div>
    <div class="info">
        <p class="title">Pinsa Name</p>
        <span class="text">
            Ingredients: texttexttext text text text text text text text text text text text text text text text text
        </span>
    </div>
</div>